*{margin: 0;  padding: 0; box-sizing: border-box;}

body {
    background-color: #f43543
}

.white-card {
    width: 400px;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.container {
    border: 5px solid white;
    width: 100%;
    background-color: #f43543;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(87, 11,16, 0.5);
    position: relative;
    border-radius: 5px;
    text-align: center;
}

.container:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #ffffff;
    z-index: -1;
    top: -10%;
    left: 10%;
}

.container p {
    color: #fdd8d8;
    line-height: 1.5;
    font-size: 18px;
}

.container h3 {
    color: #ffffff;
    margin: 20px 0 40px 0;
}

.container button {
    background-color: #ffffff;
    border: none;
    padding: 12px 42px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #f43543;
    cursor: pointer;
}